/* Resetting default margins and paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Setting the background image for the page */
body {
    font-family: 'Arial', sans-serif;
    background: url('https://cdn.wallpapersafari.com/30/17/UayVgz.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Styling the navbar */
.navbar {
    width: 100%;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.app-title {
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.navbar-right .btn {
    padding: 10px 20px;
    color: white;
    font-size: 16px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid white;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.navbar-right .btn:hover {
    background-color:black;
}
#home-btn
{
    margin-right:20px;
}
#logout-btn
{
    margin-right: 10px;
}
/* Main container for the form */
.container {
    flex-direction:column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:150px; /* Adjusted for the fixed navbar */
}

/* Form container with glassmorphism effect */
.form-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 4px 30px white;
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 400px;
    color: white;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    font-size: 28px;
    color: white;
}

/* Form group styles */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    color: white;
    font-size: 16px;
    margin-bottom: 8px;
}

.form-group input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    background: rgba(255, 255, 255, 0.2);
    color: white;
    outline: none;
    font-size: 16px;
}

/* Button styles */
.btn.submit-btn {
    width: 100%;
    padding: 12px;
    background-color: rgba(255, 255, 255, 0.3);
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.btn.submit-btn:hover {
    background-color:black;
}
